body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

#userForm {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 300px;
}

#addButton,
#editButton {
    background-color: green;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

.actions button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:first-child {
    background-color: yellow;
    color: black;
}

.actions button:last-child {
    background-color: red;
    color: white;
}